<form #f="ngForm" (ngSubmit)="onSubmit(f.form)">
    <div class="form-group">
        <label for="name">Name:</label>
        <input
            ngModel
            name="name"
            #name="ngModel"
            type="text"
            id="name"
            class="form-control"
            minlength=3
            required
         />
         <div *ngIf="name.errors && name.touched">
            <div *ngIf="name.errors.required" class="alert alert-danger">
                Please enter your name.
            </div>
            <div *ngIf="name.errors.minlength && !name.errors.required" class="alert alert-danger">
                Please enter at least 3 characters.
            </div>
         </div>
    </div>
    <div class="form-group">
        <label for="email">Email Address:</label>
        <input
            type="email"
            name="email"
            ngModel
            #email="ngModel"
            class="form-control"
            email
            required
         />
         <div *ngIf="email.errors && email.touched">
            <div *ngIf="email.errors.required" class="alert alert-danger">
                Please enter your email address.
            </div>
            <div *ngIf="email.errors.email && !email.errors.required" class="alert alert-danger">
                Please enter a valid email address.
            </div>
         </div>
    </div>
    <div class="form-group">
        <label for="frequency">Frequency:</label>
        <select class="form-control" ngControl="frequency">
            <option>Daily</option>
            <option>Weekly</option>
            <option>Monthly</option>
        </select>
        <button type="submit" class="btn btn-success" [disabled]="!f.valid">Submit</button>
    </div>
</form>