<div>
    <form [formGroup]="form">
        <div class="form-group">
            <label for="username">Username</label>
            <input
                formControlName="username"
                id="username"
                type="text"
                class="form-control">
                <div *ngIf="!form.controls.username.valid && form.controls.username.touched" class="alert alert-danger">
                    Please enter your username
                </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
                formControlName="password"
                id="password"
                type="text"
                class="form-control"
                (input)="passwordChanged($event)">
                <div *ngIf="!form.controls.password.valid">
                    <div *ngIf="form.controls.password.touched" class="alert alert-danger">
                        Please enter your password
                    </div>
                    <div *ngIf="form.controls.password.errors.minlength" class="alert alert-danger">
                        Passwords must be a minimum of {{ form.controls.password.errors.minlength.requiredLength }} characters
                    </div>
                </div>
        </div>
        <div class="form-group">
            <label for="confirm">Confirm Password</label>
            <input
                formControlName="confirm"
                id="confirm"
                type="text"
                class="form-control">
                <div *ngIf="!form.controls.confirm.valid">
                    <div *ngIf="form.controls.confirm.touched" class="alert alert-danger">
                        Please confirm your password
                    </div>
                </div>
        </div>
        
    </form>
</div>